:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

#etch{
    display: flex;
    justify-content: center;
    align-content: center;
}

#sketch{
    background-color: rgb(180, 70, 70);
    padding: 32px;
    border-radius: 25px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
    padding: 24px;
}

button{
    padding: 24px;
    background-color: rgb(169, 226, 122);
    font-size: larger;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

#grid{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 5px solid black;
    height: 900px;
    width: 900px;
    position: relative;
    background-color: white;
    align-self: center;
}

#styled{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px 50px 50px 50px;
    background-color: rgb(230, 171, 46);
    border-radius: 10px;
    width: 1500px;
    align-self: center;
    flex-direction: column;
}

.grid-item{
    padding: 0px;
}